body {
  background-image: url('NZ Tour.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}


/*Contact US*/
* {
  box-sizing: border-box;
}
input[type=email]{
	width: 100%;
	padding: 12PX;
	border: 1px solid #ccc;
  	margin-top: 6px;
  	margin-bottom: 16px;
  	resize: vertical;
}

input[type=password]{
	width: 50%;
	padding: 12PX;
	border: 1px solid #ccc;
  	margin-top: 6px;
  	margin-bottom: 16px;
  	resize: vertical;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=reset]{
	background-color:#FF0000;
	color: white;
  	padding: 12px 20px;
  	border: none;
  	cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=reset]:hover {
  background-color: #8b0000;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: rgba(250,250,250,0.5);
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


