body {
  background-image: url('NZ Tour2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
h1{color: white}
h2{color: white;}
h3{color: orangered;}
h4{color: white;}


.tours {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding: 50 px 50 px;
  background: rgba(51,51, 51, .5);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.container{
  position: relative;
}
.bottomright{
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}

.bottomleft{
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
}

.topleft{
  position: relative;
  top: 20px;
  left: : 16px;
  font-size: 18px;
}

.text {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute; 
  bottom: 8px;
  width: 100%;
  text-align: center;
}



* {
  box-sizing: border-box;
}

.user {
  font-family: Arial;
  margin: 0 auto; /* Center website */
  max-width: 800px; /* Max width */
  padding: 20px;
}
*
.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
}

/*Thumb prints CSS Grid*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3,02;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

